nFOC/sergios_nFOC/
nFOC/my_nFOC/DimensionamentoContinuo.m
*.eps
nFOC/my_nFOC/DIAGRAMAS_ESFORCOS_RESISTENTES.txt
nFOC/my_nFOC/DIAGRAMAS_ESFORCOS_RESISTENTES.txt
nFOC/my_nFOC/octave-workspace
*.asv
nFOC/my_nFOC/P2_2023.md
nFNC.py
